<md-content class="_md md-primoExplore-theme layout-xs-column layout-row" layout="row" layout-xs="column">
<div flex="50" layout="column" class="layout-column flex-50">
  <md-card class="default-card">
      <md-card-title>
          <md-card-title-text>
              <span class="md-headline">What am I searching?</span>
          </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <ul>
          <li><strong>Cambridge Libraries Collections</strong>: books (printed and electronic), other physical library content and Apollo, the Cambridge institutional repository.</li>
          <li><strong>Articles and online resources</strong>: Articles online (both in peer-reviewed journals and from other sources), databases, electronic journals and other online content.</li>
          <li><strong>Everything</strong>: All of the resources covered by the Cambridge Libraries Collections and Articles and online resources searches.</li>
        </ul>
      </md-card-content>
  </md-card>
  <md-card class="default-card">
          <md-card-title>
              <md-card-title-text>
                  <span class="md-headline">Which login do I use?</span>
              </md-card-title-text>
          </md-card-title>
          <md-card-content>
              <ul>
                  <li><a href="/primo-explore/account?vid=44CAM_PROD&lang=en_US&section=overview"><strong>Log in to MY LIBRARY ACCOUNT</strong></a> to manage your loans, requests and renewals.</li>
                  <li>Log in to iDiscover to save your pinned items (favourites), and to view FULL search results (some databases only show results if you are logged in).
                      Place the cursor on ‘Login to iDiscover’ and log on.</li>
              </ul>
        </md-card-content>
      </md-card>
    </div>
<div flex-xs="" flex="50" layout="column" class="layout-column flex-xs flex-50">
        <md-card class="default-card _md md-primoExplore-theme">
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">Where can I get help?</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
<ul>
  <li><strong>Use the filters</strong> present on the right-hand side of the screen after your search, if you need to refine the results.</li>
  <li>Click on the <a href="http://libguides.cam.ac.uk/idiscover"><strong>HELP & CONTACT US</strong></a> link to: access quick guides on how to use iDiscover; find answers to questions about iDiscover; give feedback about iDiscover or report any issues.</li>
  <li><a href="http://answers.libraries.cam.ac.uk/"><img alt ="help" src="custom/44CAM_PROD/img/help.png" style="width:92px;float:right; padding:15px 10px 10px 0" /></a> Need help now? <br />Click the button to find an answer to your question from 09:00 to 17:00 </li>
</ul>

            </md-card-content>
        </md-card>
        <md-card class="default-card">
             <md-card-title>
                 <md-card-title-text>
                     <span class="md-headline">What is iDiscover?</span>
                 </md-card-title-text>
             </md-card-title>
             <md-card-content>
                 <p>
                     <img alt="idiscover screen" src="custom/44CAM_PROD/img/2_0.jpg" style="width:200px; float:left; padding:5px 20px 20px 0">Use iDiscover to search the University’s libraries print and online collections using a single search. Find books, ebooks, videos, theses, open access content and more. Log in to manage your loans, requests, fines and saved search results.</p>
           </md-card-content>
         </md-card>

   </div>
</md-content>
